<tr>
  <td>
    <%=order_detail_counter+Settings.client.num_index %>
  </td>
  <td>
    <%= order_detail.product.product_name %>
  </td>
  <td>
    <%= order_detail.quanlity %>
  </td>
  <td>
    <%= order_detail.total_price %>
  </td>
</tr>
