<li>
  <img src="/assets/new_user.png"/>
  <%= link_to user.user_name, user %>
  <% if !current_user? user %>
  <%= t "|" %><%= link_to t("view.admin.user.index.delete"), [:admin, user],
    method: :delete, data: {confirm: t("you_sure")} %>
  <% end %>
</li>
